# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# Models & Data
saved_models/
*.pth
*.npy
*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db